<article class="card">
    <div class="card-title pt-5 pl-5">
      <h2>
           <a href="/post/{{id}}">{{title}}</a>
      </h2>
           <div>Created by {{user.username}} on {{format_date created_at}}</div>
    </div>
       <div class="card-content pb-5 pl-5"> {{blog_text}}</div>
       <a class="pb-5 pl-5" href="/posts/{{id}}">{{comments.length}}
       {{format_plural "comment" comments.length}}</a>
</article>

